@font-face {
    font-family: 'Jacquard 12';
    src: url('jacquardfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* stili generali */
body {
    font-family: 'Jacquard 12', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.gifer.com/QtPg.gif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
    box-sizing: border-box;
    color: #fff;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

#countdown {
    font-size: 40px;
    margin-bottom: 30px;
}

.divider {
    margin: 15px 0;}

button {
    background-color: #fff;
    color: #000;
    font-family: 'Jacquard 12', sans-serif;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000;
    color: #fff;
}

.copyright {
    margin-top: auto;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    text-align: center;
    width: 100%;
}

@media (min-width: 768px) {
    .copyright {
        margin-bottom: 10px;
    }
}

.stream-links {
    display: flex;
    flex-direction: column;    align-items: center;
    justify-content: center;
    margin-top: 80px;    font-size: 14px;
}

.stream-links p {
    margin-bottom: 10px;
}

.icons-container {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.icon {
    width: 25px;
    height: auto;
    transition: opacity 0.3s ease;
}

.icon:hover {
    opacity: 0.7;
}
