/* Importa il font Jacquard 12 dalla cartella fonts */
@font-face {
    font-family: 'Jacquard 12';
    src: url('fonts/jacquardfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Importa VT323 da Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

/* Stili generali */
body {
    font-family: 'Jacquard 12', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://i.gifer.com/QtPg.gif');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Modificato per allineare tutto in alto */
    text-align: center;
    min-height: 100vh; /* Assicura che la pagina copra l'intera altezza della finestra */
    box-sizing: border-box;
    opacity: 0;
    animation: fade-in 1s ease forwards;
    color: #fff;
}

/* Animazione fade-in */
@keyframes fade-in {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* Stili per titoli */
h1, h2 {
    font-family: 'Jacquard 12', sans-serif;
    margin: 0;
    color: #fff;
}

h1 {
    font-size: 75px;
    font-weight: bold;
    margin-top: 40px;  /* Regolato il margine superiore per evitare che il titolo venga tagliato */
    margin-bottom: 20px; /* Distanza dal sottotitolo */
}

h2 {
    font-size: 24px;
    margin-top: 0;
}

/* Stili per i link */
.links {
    margin-top: 40px; /* PiÃ¹ spazio sopra i bottoni */
}

.links a {
    display: inline-block;
    margin: 10px 20px; /* Maggiore distanza tra i bottoni */
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    text-transform: lowercase;
    letter-spacing: 2px;
    font-family: 'Jacquard 12', sans-serif;
    transition: background-color 0.3s ease;
}

.links a:hover {
    background-color: #000;
    color: #fff;
}

/* Stili per il widget Bandsintown */
.bandsintown {
    margin-top: 30px;
}

/* Stili per il bottone lyrics */
.lyrics-button {
    margin-top: 50px; /* Aggiungi spazio sopra il bottone show lyrics */
}

.lyrics-button a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #fff;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    font-family: 'Jacquard 12', sans-serif;
    transition: background-color 0.3s ease;
}

.lyrics-button a:hover {
    background-color: #000;
    color: #fff;
}

/* Divisori carini */
.divider {
    margin-top: 40px;
    font-size: 24px;
    color: #fff;
}

/* Copyright */
.copyright {
    margin-top: 30px;
    font-size: 12px;
    color: #fff;
    margin-bottom: 20px; /* Aggiunto spazio sotto i copyright */
}
